<html>
  <head>
    <title>The Roster</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

    <script>
      var app = angular.module( "myApp", [ "ngStorage" ]);

      app.controller("RosterController", function( $scope, $localStorage ) {
        var sync = function() {
          $scope.persons = JSON.parse( $localStorage.persons || "[]" );
        };
        sync();
        $scope.name = "";
        $scope.submit = function() {
          sync();
          $scope.persons.push({ value: $scope.name });
          $localStorage.persons = JSON.stringify( $scope.persons );
        };
        $scope.empty = function() {
          $localStorage.persons = "[]";
          sync();
        };
      });
    </script>
  </head>

  <body ng-app="myApp" >
      <main ng-controller="RosterController" class="container">
        <form ng-submit="submit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" ng-model="name" required placeholder="Name">
          </div>
          <button ng-click="empty()" class="btn btn-danger">Empty List</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <table class="table table-condensed">
          <tr ng-repeat="person in persons">
            <td>{{person.value}}</td>
          </tr>
        </table>
      </main>
  </body>
</html>