.item {
  input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    left: -900px;
    pointer-events: none;
  }
  label {
    cursor: pointer;
  }
  ul {
    display: none;
  }
  input:checked ~ ul {
    display: block;
  }
}